<!-- Custom file for standardizing Project Data
This HTML is setup as as a Jinja2 layout, coders use layouts for:
 ... standardization of style
 ... setting expectations for data
 ... code reuse
-->
<!DOCTYPE HTML>
<html lang="en">

{% set basename = "MKAAT" %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=dev
    ce-width, initial-scale=1">

    <!-- JQuery -->
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <title>{{ basename }} | {{ project }} </title>

</head>

<body>

    {% block body %}
    {% endblock %}

</body>

{% block background %}
{% endblock %}

</html>